body.collection {
  background-image: url(../assets/images/blurred_backgrounds/city.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.album-covers {
     position: relative;
 }

 .collection-album-container {
     position: relative;
     margin-top: 30px;
     margin-bottom: 20px;
     text-align: center;
 }
.album-covers :hover {
    transform: scale(1.1);
}

 .collection-album-container .caption {
     margin-top: 10px;
 }

 .collection-album-container .caption p {
     font-size: 1rem;
     font-weight: 500;
     color: white;
     text-shadow: 1px 1px 0px black;
 }

 .collection-album-container .caption p a {
     color: white;
 }

 .collection-album-container .caption p a.album-name {
     color: white;
 }

 .collection-album-container img {
     width: 80%;
 }
